# Maven
target
*.class

# Spring boot
*.jar
*.war
*.ear

# IDE - VSCode
.vscode/
*.classpath
*.project
*.settings/

# Variáveis de ambiente / segredos
.env
application-local.properties

#OS
.DS_Store
Thumbs.db